@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400&display=swap');
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
:root{
    --darktheme: #000;
    --lightheme: #cad3f2;
    --dark: #333;
    --light: #fff;
    --gradOrange: #D5A64A;
    --gradPink: #E132F2;
    --gradAqua: #0ACCCC;
    --gradBlue: #1919D3;
}


.wrapper{
overflow:hidden;
background-color: rgb(0, 0, 0);

margin: auto;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
transition: .5s ease-in;
}
.githubrepo{
    /* background-color: #1919D3; */
    width: 60px;
    height: 60px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;

}
.githubrepo i{
    font-size: 50px;
    color: var(--light);
}
.theme-control-container{
    padding:10px;
    width: 100%;
    height: 19px;
    position: absolute;
    top:0;
    display: flex;
    justify-content: flex-start;
}
.switch{
    background-color:var(--lightheme);
    width: 70px;
    height: 30px;
    border: 2px solid teal;
    border-radius: 25px;
}
.slider{
    position: relative;
    background-color: var(--dark);
    border-radius: 25px;
    width:30px;
    height: 27px;
    float:right;
    transition:  .4s ease-in-out;
    outline: none;
    cursor: pointer;
}
.container{
    max-width: 500px;
    width: 500px;
    height: 600px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.container-circle1, .container-circle2{
padding: 10px;
display: flex;
flex-direction: column;
width: auto;
height: auto;
}
.container-circle1{
   justify-items: flex-start;
}

.outer-circle1 ,.outer-circle2{
    max-width: 300px;
    height: 300px;
    border-radius: 50%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner-circle1 , .inner-circle2{
    background: var(--darktheme);
    padding: 1rem;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transition: .5s ease-in;
}
.outer-circle1{
    background:linear-gradient(to bottom right,var(--gradOrange),var(--gradPink));
    box-shadow: 0px 0px 20px var(--gradOrange) ,0px 0px 40px var(--gradPink);
    animation: circle-one 5s infinite;
}
.outer-circle2{
    /* transform: translateX(200px); */
    /* float: right; */
    margin-left: 150px;
    background: linear-gradient(to bottom right, var(--gradAqua),var(--gradBlue));
    box-shadow: 0px 0px 20px var(--gradAqua),0px 0px 10px var(--gradBlue);
    animation: circle-two 5s infinite alternate;
}
.inner-circle1{
    box-shadow: 0px 0px 20px inset var(--gradPink),0px 0px 20px inset var(--gradOrange);
}
.inner-circle2{
    box-shadow: 0px 0px 20px inset var(--gradBlue) ,0px 0px 10px inset var(--gradAqua);
}

.rectangle{
    position: absolute;
    background: linear-gradient(to bottom right, rgba(250, 249, 249, 0.645),rgba(255, 255, 255, 0.145));
    border: 0.1px solid rgba(206, 206, 206, 0.583);
    border-radius: 20px;
    max-width: 300px;
    width: 300px;
    height: 450px;
    z-index: 1;
    transform: translate(100px,50px);
    /* box-shadow: 0px 0px 10px #fff; */
    /* filter: blur(1.2px); */
    /* opacity: 0.5; */
    /* animation: reflections 10s infinite; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* filter: blur(4px); */
    
}
/* animation for circles */
@keyframes circle-one {
    0% {box-shadow: 0px 0px 20px #D5A64A ,0px 0px 35px #E132F2; transform: rotate(45deg);}
    25% {box-shadow: 0px 0px 15px #D5A64A ,0px 0px 30px #E132F2; transform: rotate(90deg);}
    50%{box-shadow: 0px 0px 5px #D5A64A ,0px 0px 2px #E132F2; transform: rotate(135deg);}
    75%{box-shadow: 0px 0px 15px #D5A64A ,0px 0px 30px #E132F2; transform: rotate(270deg);}
    100%{box-shadow: 0px 0px 20px #D5A64A ,0px 0px 35px #E132F2; transform: rotate(0deg);}
    
}
@keyframes circle-two{
    0%{box-shadow: 0px 0px 2px #0ACCCC,0px 0px 1px #1919D3; transform: rotate(45deg);}
    25%{box-shadow: 0px 0px 10px #0ACCCC,0px 0px 3px #1919D3; transform: rotate(90deg);}
    50%{box-shadow: 0px 0px 20px #0ACCCC,0px 0px 10px #1919D3; transform: rotate(135deg);}
    75%{box-shadow: 0px 0px 10px #0ACCCC,0px 0px 3px #1919D3; transform: rotate(270deg);}
    100%{box-shadow: 0px 0px 2px #0ACCCC,0px 0px 1px #1919D3; transform: rotate(0deg);}
}
@keyframes track-point{
    0%{left:10%;}
    30%{left:30%;}
    60%{left:60%;}
    100%{left:80%;}
}
/* for music player start here */
/* playlist  */
.playlist-container{
    background: linear-gradient(to bottom right, rgba(250, 249, 249, 0.933),rgba(255, 255, 255, 0.802));
    width: 0;
    height: 0;
    visibility: hidden;
    padding: 5px;
    position: absolute;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 4;
    transition: 0.2s ease-in-out;
    overflow: hidden;
}
.playlist{
    /* background-color: rgb(220, 220, 220); */
    color: rgb(99, 99, 99);
    padding: 10px;
    width: 100%;
    display: flex;
    /* visibility: hidden; */
    justify-content: space-evenly;
    align-items: center;
    font-size: 15px;
    border-bottom: 0.1rem solid rgb(194, 194, 194);
    overflow: hidden;
    cursor: pointer;
}
.playlist:hover{
    background-color: #636363;
    color: #faf9f9ee;
}
.album-art{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    line-height: 5px;
    border-right: 0.5px solid rgb(169, 169, 169);
    
    /* background-color: brown; */
}
.album-art i{
    margin-right: 5px;
}
.song-name{
    flex: 8;
    margin-left: 5px;
    line-height: 1.4rem;
    /* background-color: burlywood; */
}
.close-lists{
    width: 30px;
    height: 30px;
    /* background-color: rgb(218, 65, 60); */
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.close-lists i{
    color:rgb(99, 99, 99);
    font-size: 40px;
}
/* album logo */
.music-logo{
border: 0.1px solid rgba(206, 206, 206, 0.583);
border-radius: 20px;

width: 220px;
height: 220px;
display: flex;
justify-content: center;
align-items: center;
box-shadow: 0 0 5px inset #fff;
color: var(--light);
transition: 0.5s ease-in;
}
.music-logo i{
    font-size: 6rem;
}
/* track mins */
.controls{
    height: 4px;
    width: 210px;
    background: var(--light);
    display: flex;
    justify-content: center;
    align-items: center;
    color:var(--light);
    transition: 0.5s ease-in;
}
.controls #control-points{
    width: 100%;
    color: #333 !important;
    /* position: absolute; */
    /* left: 59%; */
    /* animation: track-point 5s infinite; */
}
input[type='range'] {
    /* overflow: hidden; */
    width: 100%;
    -webkit-appearance: none;
    background-color: var(--light);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  input[type='range']::-webkit-slider-runnable-track {
    height: 4px;
    -webkit-appearance: none;
    color: #13bba4;
    /* margin-top: -1px; */
  }
  
  input[type='range']::-webkit-slider-thumb {
    width: 15px;
    -webkit-appearance: none;
    height: 15px;
    border-radius: 50%;
    cursor: ew-resize;
    background: var(--dark);
    /* box-shadow: -80px 0 0 80px #43e5f7; */
    /* position: absolute; */
    margin-top: -5px;
  }
.controls-time{
    width: 210px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:var(--light);
    font-weight: 200;
}

/* song name */
.music-name{
    color:var(--light);
    font-size: 1.1rem;
    font-weight: 400;
    text-align:center;
}
/* controls button  */
.player-btn{
    width: 210px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:var(--light);
    font-size: 20px;
    font-weight: 100;
}
.player-btn i{
    outline: none;
    transition: .6s ease-in;
}
.player-btn i:hover{
    cursor: pointer;

}
.fa-th-list{
    cursor: pointer;
    transition: 0.3s ease-in;
}
.fa-th-list:hover{
    color: var(--light);
}
/* developer info */
.developer-info{
    background: linear-gradient(to bottom right, rgba(250, 249, 249, 0.933),rgba(255, 255, 255, 0.802));
    width: 0;
    height: 0;
    padding: 5px;
    position: absolute;
    right: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 4;
    overflow: hidden;
    transition: 0.2s ease-in-out ;
}
.info-card{
    /* background-color: rgb(220, 220, 220); */
    color: rgb(99, 99, 99);
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 15px;
    overflow: hidden;
    /* border-bottom: 0.1rem solid var(--dark); */

}
.info-card i{
    font-size: 20px;
    color: rgb(99, 99, 99);
}
.socials{
    color: rgb(99, 99, 99);
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 15px;
}
.socials i{
    font-size: 20px;
    color: rgb(99, 99, 99);
}
.close-devsinfo{
    width: 30px;
    height: 30px;
    /* background-color: rgb(218, 65, 60); */
    position: absolute;
    bottom: 10px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.close-devsinfo i{
    font-size: 40px;
    color:rgb(99, 99, 99)
}
/* toogle classes */
.light-theme{
    background-color: var(--lightheme) !important;
}
.light{
    color: var(--light) !important;
}
.dark{
    color:var(--dark) !important;
    
}
.bgdark{
    background: var(--dark) !important;
}
.bglight{
    background: var(--lightheme) !important;
}
.opacity{
    opacity: 0.95;
}
.leftslider{
    float: left !important;
}
.bolder{
    font-weight: 400 !important;
}
.show-list{
    width: 299px;
    height: 410px;
    visibility: visible !important;
}
.visibles{
    visibility: visible !important;
}

/* media query */
@media screen and (max-width: 600px) {
    .outer-circle2{
        margin-left: 70px;
    }
    .rectangle{
        transform: translate(50px,50px);
    }
}